<template>
    <lightning-layout class="slds-box" multiple-rows="true">
        <lightning-layout-item padding="around-large" size="12">
            <c-customer-assets onassetselected= {handleAssetSelected}></c-customer-assets>
        </lightning-layout-item>
        <lightning-layout-item padding="around-large" size="12">
            <template if:true={markers}>
                <c-map markers={markers}></c-map>
            </template>
        </lightning-layout-item>
    </lightning-layout>

</template>