<template>
    <template if:true={customerAssets}>
       <template for:each={customerAssets} for:item=assetItem>
                <c-customer-asset onassetclick={handleAssetClick} key={assetItem.Id} asset={assetItem}></c-customer-asset>
        </template>
    </template>
</template>