<template>
    <a onclick={assetClick}>
    <lightning-card key={asset.Id} title={asset.Product2.Name}>
        <p class="slds-p-horizontal_small">Purchase Date: {asset.PurchaseDate}</p>
    </lightning-card>
    </a>
</template>